@CHARSET "UTF-8";

html,body{
	width: 100%;
	height: 100%;
	font-size:14px;
	font-family:"Roboto" ;
}
/* start code css login */
#body-login{
	
	background-color: #00909c;
}

#body-flex-login{
	display: flex;
	height: 100%;
	justify-content:center;
	align-items: center;
}

#container-login{
	display: flex;
	width: 820px;
	height: 610px;
	background-color: white;
}

#container_sigup{
	display: none;
}

#container-login-left{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width: 384px;
	height: 610px;
	background-color: #ff5c33;
}

.header-login{
	margin-top: 32px;
}

#header_chitiet{
	background-color: black;
}

#header-left{
	text-align: center;
}

#text-logo{
	font-size: 48px;
	color: white;
	
}

#hint-text-logo{
	font-size: 14px;
	color: white;
	opacity: 0.7;
}

#header-bottom-left{
	color: white;
	margin-bottom: 64px;
	margin-left: 12px;
}
#header-bottom-left span{
	margin-left: 8px;
	margin-bottom: 64px;
}

.circle_avatar{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: chocolate;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#giohang{
	padding-top: 10px;
	padding-left: 15px;
}

#container-login-right{
	display: flex;
	flex:1;
	justify-content:space-between;
	flex-direction:column;
	padding: 0 24px;
}

#header-right{
	font-size: 20px;
	color: #B7B7B7;
}

.actived{
	color: #DA7C79;
}

#container-social-login{
	align-self: flex-end;
	margin-bottom: 16px;
}

#container-center-login-right input[type = text]{
	margin-top: 8px;
}

#container-center-login-right input[type = submit]{
	margin-top: 24px;
	color: white;
	font-size: 14px;
}
.meterial-text-input{
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
}

.meterial-button-primary{
	height: 38px;
	border: 0;
	background-color:  #00909c;
	width: 100%;
}

.input-ic-email{
	/*background: url(../image/ic_email.png) no-repeat scroll 1px 1px;*/
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
	padding-left: 20px;
} 

.input-ic-pass{
	/*background: url(../image/ic_lock.png) no-repeat scroll -4px -4px;*/
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
	padding-left: 20px;
}


/* end code css login */


#header{
	height:662px;
	background: linear-gradient(
		rgba(0,0,0,0.42),
		rgba(0,0,0,0.42)
	), url("../image/backgroup-header.png") no-repeat center center fixed;
	 -webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
}

.none_nav{
	background-color: none !important;
	border: none !important;
}

.navbar-centert{
	margin-left: 27% !important ;
	color: white;
}

.navbar-nav a{
	color: white !important;
}

.active a {
	color:#00ffff !important;
	background: none !important;
	font-weight: bold;
}

.open {
	background-color: #d9d9d9;
}

.open > a{
	background: none !important;
	font-weight: bold;
}
.event_header{
	text-align: center;
	margin-top: 216px;
}

.event_header span{
	color: white;
}

.event_header > button{
	color: white;
	background-color: #39FFE2;
	border: #39FFE2;
}

#info {
	text-align: center;
	margin-top: 48px;
}

#title-hot{
	font-size: 32px;
	margin-top: 100px;
	text-align: center;
}

#image-sanpham {
	height: 256px !important;
	width: auto !important;
}

#image-sanpham_chitet{
	
	max-width:100% !important;
	width: auto !important;
}

#price-sanpham{
	font-size: 14pt !important;
	color: #ff1a1a;
}

.mymenu li > ul{
	display: none;
}

.mymenu{
	padding: 0;
	margin: 0;
}

.mymenu li{
	font-size: 16px;
	font-weight: 400;
	padding: 4px , 0px;
}

.mymenu li:hover > ul{
	display: block;
}

.sanpham{
	margin-top: 50px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
}

#footer{
	
	margin-top: 42px;
	background-color: #404040;
	color: white;
	padding: 38px;
}

#footer p {
	text-align: center;
}

#footer-textarea{
	margin-top :3px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
}



#title-footer {
	font-size: 32px !important;
}

@media (max-width:991px ){
	.navbar-centert{
		margin-left: 12% !important ;
	}
}

@media (max-width:767px ){
	.navbar-centert{
		margin-left: 0% !important ;
	}
}

@media (max-width:575px ){
	.navbar-centert{
		margin-left: 8% !important ;
	}
}



















